.error {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  color: #f7f7f7;
}

.error h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.error p {
  font-size: 1rem;
}