/* @import "tailwindcss"; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}