@import "@/styles/colors.scss";

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: map-get($schema, color-secondary);
}