.skeleton {
  background-color: #f3f4f6;
  /* min-h-screen bg-gray-50 */
  background-image: linear-gradient(90deg,
      #f3f4f6 0%,
      #e5e7eb 20%,
      #f3f4f6 40%,
      #f3f4f6 100%);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: calc(200px + 100%) 0;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.productCard {
  animation: fadeUp 0.6s ease-out forwards;
  opacity: 0;
}